<h2>{{CreateEdit}} Usuario</h2>
<form [formGroup]="formuser">
    <mat-form-field class="w-75">
        <mat-label>Nome usuario</mat-label>
        <input matInput formControlName="nome" placeholder="Nome do usuario">
    </mat-form-field>   
    <br>
    <mat-form-field class="w-75">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="senha" type="password" placeholder="Sua Senha aqui">
    </mat-form-field>
    <br>
    <mat-form-field class="w-75">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Seu email aqui">
    </mat-form-field>
    <br>
    <app-select-role [form]="formuser"></app-select-role>
    <app-select-ativo [form]="formuser"></app-select-ativo>
    <mat-form-field class="invisible" hidden>
        <input matInput type="number" formControlName="id">
    </mat-form-field>

    <button mat-button (click)="Onsubmit()" [disabled]="formuser.invalid">Salvar</button>
    <button mat-button (click)="Close()">Sair</button>
</form>