.center{
    text-align: center;
    margin: 0%;
    margin: 0%;
}

.centercomponent{
    text-align: center;
    margin: 0%;
    margin: 0%;
}

.divisao{
    width: 50vw;
}

.flex{
    display: flex;
}

.img-full{
    width: 45vw;
    height: 90vh;
}